<section class="main valign-wrapper center-align">
    <div class="welcome-text ">
        <h4>¡Welcome!</h4>
    </div>
    <h4>User: {{ user.username }}</h4>
     <div>
         <br><br>
      <a class="waves-effect waves-light btn-large" href="/news">GET STARTED</a>

     </div> 
</section>