<nav>
    <div class="container">
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo">NEWS</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                {{#if user}}
                <li> <a href="/logout">Logout</a></li>
                {{else}}
                <li><a href="/signin">Sign In</a></li>
                <li> <a href="/signup">Sing Up</a></li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    {{#if user}}
    <li> <a href="/logout">Logout</a></li>
    {{else}}
    <li><a href="/signin">Sign In</a></li>
    <li> <a href="/signup">Sing Up</a></li>
    {{/if}}
</ul>