<div class="form container">
    <div class="row form-signin-container">
        <div class="col s12 m12 l8 offset-l2">
            <form action="/signin" method="POST" class="form-signin" id="form_signin">
                <h3 class="title-signin">Sign In Form</h3>
                <div class="input-field">
                    <input type="text" name="username" class="validate" id="input_username_signin">
                    <label for="input_username_signin">Username:</label>
                </div>
                <div class="input-field">
                    <input type="password" name="password" class="validate" id="input_password_signin">
                    <label for="input_password_signin">Password:</label>
                </div>
                <div class="input-field btn-container">
                    <a href="/signup" class="btn">
                        Go to sign up
                    </a>
                    <button class="btn">
                        Continue
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>